#card-details-container{
    border: 1px solid #EB5757;
    background-color: rgba(235, 87, 87, 0.05);
}
.price-card{
    width: 30%;
    padding: 12px;
    text-align: center;
    background-color: white;
    font-weight: 600;
}
#price-card-1{
    color: #03A30A;
}
#price-card-2{
    color: #F28927;
}
#price-card-3{
    color: #EB5757;
}

#accuracy{
    position: absolute;
    top: 25px;
    right: 25px;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    background-color: #EB5757;
    width: 35%;
    padding: 5px 10px;
    border-radius: 8px;
}